@inherits LayoutComponentBase
<div class="page fade-in">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/LucioP7" target="_blank" class="text-decoration-none">APROBADO POR MI</a>
        </div>

        <article class="content px-4">
            <div class="page-card">
                @Body
            </div>
            <div class="app-footer">&copy; @DateTime.Now.Year Tienda Hogar</div>
        </article>
    </main>
</div>
